<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-US-Compatible" content="IE=edge"> -->
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <meta name="author" content="Daniel C. Opute">
    <meta name="description" content="<%- description %>">
    <!-- Important Open Graph protocol (og) -->
    <meta property="og:title" content="CSE340 Backend Development Motor Web Application Project">
    <meta property="og:type" content="Webapp">
    <meta property="og:image" content="https://wdd340-backend-dev.onrender.com/images/site/icon.png">
    <meta property="og:url" content="https://wdd340-backend-dev.onrender.com">
    <!-- <meta name="twitter:card" content=""> -->

    <!-- Optional Open Graph protocol (og) -->
    <meta property="og:description"
        content="CSE340 Backed Development Motor Web Application Project. This webapp is build with node js and express framework">
    <meta property="og:site_name" content="wdd340-backend-dev">
    <meta name="twitter:image:alt" content="Motor Logo">

    <!-- Optional Non-Essential, But Required for Analytics -->
    <!-- <meta property="fb:app_id" content="[your_app_id]">
    <meta name="twitter:site" content="[@website-username]"> -->

    <!-- CSS Links -->
    <link rel="stylesheet" href="/css/normalize.css">
    <!-- <link rel="stylesheet" href="/fontawesome/css/all.css"> -->
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/large.css">

    <!-- fonts Links -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <!-- Site Icon -->
    <link rel="icon" href="/images/site/favicon-32x32.png">

    <!-- Page Title -->
    <title><%- title %> | CSE 340 App</title>
</head>