<div id="home-main-container">
    <div id="banner-section">
        <h2>Welcome to CSE Motors!</h2>
        <div>
            <div class="banner-img-holder">
                <picture>
                    <!-- <source srcset="/images/vehicles/delorean-tn-transparent.png" media="(max-width: 400px)"> -->
                    <source srcset="images/vehicles/delorean-transparent.png" media="(max-width: 960px)">
                    <img id="banner-img" src="images/vehicles/delorean-transparent.png" alt="Delorean Vehicle" width="500" height="255">
                </picture>
            </div>
            <section>
                <h3>DMC Delorean</h3>
                <p>
                    3 Cup holders<br>
                    Superman doors<br>
                    Fuzzy dicel<br>
                </p>
                <button id="call-to-action-btn" class="primary-buttons">Own Today</button>
            </section>
        </div>
    </div>
    <div id="review-section">
        <h2>DMC Delorean Reviews</h2>
        <ul>
            <li>"So fast it's almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80's livin and I love it!" (5/5)</li>
        </ul>
    </div>
    <div id="upgrade-section">
        <h2>Delorean Upgrades</h2>
        <div>
            <div class="picture-card">
                <div class="image-holder">
                    <img src="images/upgrades/flux-cap.png" width="65" height="65" id="flux-cap-img" alt="flux cap">
                </div>
                <a href="./">Flux Capacitor</a>
            </div>
            <div class="picture-card">
                <div class="image-holder">
                    <img src="images/upgrades/flame-transparent.png" width="65" height="82" id="flame-decals-img" alt="Flame Decals">
                </div>
                <a href="./">Flame Decals</a>
            </div>
            <div class="picture-card">
                <div class="image-holder">
                    <img src="images/upgrades/bumper_sticker.jpg" width="65" height="57" id="bumper-stickers-img" alt="Bumper Stickers">
                </div>
                <a href="./">Bumper Stickers</a>
            </div>
            <div class="picture-card">
                <div class="image-holder">
                    <img src="images/upgrades/hub-cap-transparent.png" width="65" height="65" id="hub-cap-img" alt="Hub Caps">
                </div>
                <a href="./">Hub Caps</a>
            </div>
        </div>
    </div>
</div>