@media screen and (min-width: 890px) {
    /* * {
        border: 1px solid black;
    } */

    /******* Set Root Base *****************/
    :root {
        /* SET MARGIN AND PADDING */
        --base-margin: var(--large-margin);
        --base-padding: var(--large-padding);
    }

    body {
        font-size: var(--large-font-size);
        display: grid;
        background: url('../images/site/small_check.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    #wrapper {
        grid-column: 1/2;
        grid-row: 1/2;
        background-color: var(--main-background-color);
        overflow: hidden;
        border-radius: var(--standard-radius);
        box-shadow: 0 0 10px var(--dark-transparency);
        margin: var(--large-margin) 5rem;
    }

    /************* *************** ************
    **************  MAJOR STYLING  ************
    ************** *************** ***********/

    /*****************************************
    ************** HOME PAGE *****************
    *****************************************/
    #home-main-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: var(--large-margin);
    }

    /****** banner section ******/
    #banner-section {
        grid-column: 1/3;
        grid-row: 1/2;
    }

    #banner-section div {
        width: 100%;
        padding: var(--large-padding);
        background: var(--light-transparency);
    }

    #banner-section .banner-img-holder {
        width: fit-content;
        display: grid;
        grid-template-columns: 1fr;
        background: none;
        margin: 0 auto;
    }

    /****** upgrade section *******/
    #upgrade-section {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    /***** review section *******/
    #review-section {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    /* *****************************************
    ***** An Inventory Detail Page Styling *****
    *******************************************/
    #inv-detail-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    /* *****************************************
    ******* Login/Sign-up Page Styling *********
    *******************************************/
    .form-title {
        margin-left: 25%;
    }

    .form-container {
        width: 50%;
    }

    .forms .form-note {
        display: block;
    }
}