/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/******* Set Root Base *****************/
:root {
  /* Major Colors */
  --primary-color-one: #000000;
  --primary-color-two: #FF0000;
  --primary-color-three: #C0C0C0;

  --secondary-color-one: #7B7B7B;


  --accent-one: #FFFFFF;
  --accent-two: #00BFFF;
  --accent-three: #FFD700;

  /* Major Fonts */
  --heading-font-one: "Bebas Neue", sans-serif;
  --heading-font-two: "Racing Sans One", system-ui;
  --paragraph-font: "Roboto", sans-serif;

  /* Color Division */
  /* background-colors */
  --background-color-primary: var(--primary-color-one);
  --background-color-secondary: var(--secondary-color-one);

  /* text colors */
  --heading-text-color: var(--accent-one);
  --body-text-color: var(--primary-color-three);

  /* button colors */
  --button-background-color: var(--primary-color-two);
  --hover-button-background-color: var(--accent-two);

  /* borders and dividers */
  --border-color: var(--secondary-color-one);

  /* highlights */
  --highlight-color: var(--accent-three);

}

/******** Default Body View *********/
body {
  max-width: 1600px;
  margin: 0 auto;
  font-size: 14px;
  /* overflow: auto; */
}