/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/******* Set Root Base *****************/
:root {
  /* Major Colors */
  --primary-color-one: #000000;
  --primary-color-two: #FF0000;
  --primary-color-two-darker: #a30000;
  --primary-color-two-lighter: #FF6666;
  --primary-color-three: #414040;

  --secondary-color-one: #faf9f9;

  --accent-one: #FFFFFF;
  --accent-two: #00BFFF;
  --accent-three: #FFD700;

  --dark-transparency: rgba(0, 0, 0, 0.8);
  --light-transparency: rgba(255, 255, 255, 0.8);

  /* Major Fonts */
  --heading-font-one: "Bebas Neue", sans-serif;
  --heading-font-two: "Racing Sans One", system-ui;
  --paragraph-font: "Roboto", sans-serif;

  /* COLOR DIVISION */
  /* Header and Navigation Bar */
  --header-background-color: var(--primary-color-one);
  --header-text-color: var(--accent-one);
  --navigation-active-link: var(--primary-color-two);

  /* Main Content (Body Section) */
  /* background color */
  --main-background-color: var(--primary-color-three);

  /* text colors */
  --heading-text-color: var(--primary-color-two);
  --body-text-color: var(--secondary-color-one);
  --link-color: var(--accent-two);
  --link-active-color: var(--primary-color-two);

  /* primary button colors */
  --primary-button-background-color: var(--primary-color-two-darker);
  --primary-button-text-color: var(--accent-one);

  /* secondary button colors */
  --secondary-button-background-color: var(--accent-two);
  --secondary-button-text-color: var(--accent-one);

  /* FOOTER COLOR */
  --footer-background-color: var(--primary-color-one);
  --footer-text-color: var(--accent-one);
  --footer-link-color: var(--accent-three);

  /* ACCENT AREAS (Notification banners, hover effects) */
  /* background */
  --accent-background: var(--accent-three);
  /* links or buttons hover effects */
  --hover-background-color: var(--primary-color-two-lighter);

  /* borders and dividers */
  --border-color: var(--secondary-color-one);

  /* OTHERS (icons and font-awesome) */
  --icon-color-one: var(--accent-one);
  --icon-color-two: var(--accent-three);
  --icon-color-three: var(--primary-color-three);



  /* SET MARGIN AND PADDING */
  --base-margin: .5rem;
  --base-padding: .5rem;
  --large-margin: 1rem;
  --large-padding: 1rem;

  /* SET FONT-SIZE */
  --base-font-size: 14px;
  --large-font-size: 16px;

  /* SET BOX RADIUS */
  --tiny-radius: 5px;
  --standard-radius: 10px;
  --larger-radius: 15px;
}

/******* TEST USE ONLY *******/
* {
  /* border: 1px solid var(--border-color); */
}

/******** DEFAULT STYLING ***********/
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--header-text-color);
}

h1,
h2 {
  font-family: var(--heading-font-one);
}

h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-two);
}

h1 {
  margin: var(--base-margin);
}

a {
  text-decoration: none;
  color: var(--link-color);
}

/******** *************** ***********
********* DEFAULT STYLING ***********
********* *************** **********/

/***** SERVER MESSAGE STYLING *****/
.notice,
.warning {
  width: fit-content;
  padding: var(--base-padding);
  background-color: var(--dark-transparency);
  color: var(--accent-one);
  list-style: none;
}

.warning {
  color: var(--primary-color-two);
}

.notice li::before {
  content: "Notice: ";
}

.warning li::before {
  content: "Warning: ";
}

/******** BODY STYLING *********/

body {
  display: block;
  max-width: 1600px;
  margin: 0 auto;
  font-family: var(--paragraph-font);
  font-size: var(--base-font-size);
  background-color: var(--main-background-color);
  color: var(--body-text-color);
}

header,
nav {
  background-color: var(--header-background-color);
  color: var(--header-text-color);
}

header a,
nav a {
  color: var(--navigation-active-link);
  text-transform: capitalize;
}

/* Buttons */
button {
  border: none;
  padding: var(--base-padding);
  font-weight: bold;
  margin: var(--base-margin) 0;
  border-radius: 5px;
}

button:hover {
  background-color: var(--hover-background-color);
}

.primary-buttons {
  background-color: var(--primary-button-background-color);
  color: var(--primary-button-text-color);
  text-shadow: 0 0 1px #000000;
}

.secondary-buttons {
  background-color: var(--secondary-button-background-color);
  color: var(--secondary-button-text-color);
}

/* Icon */
i {
  color: var(--icon-color-three);
}


/******* FOOTER STYLING *********/
footer {
  background-color: var(--footer-background-color);
  color: var(--footer-text-color);
}

footer a {
  color: var(--footer-link-color);
}

/************* *************** ************
**************  MAJOR STYLING  ************
************** *************** ***********/

/***** STYLING HEADER *******/
/***** Top Header **********/
#top-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: var(--base-padding);
  width: 100%;
  font-size: 1.2em;
}

.siteName {
  width: 100%;
  padding: var(--base-padding) 0;
  display: block;
  align-content: center;
}

.siteName a {
  font-size: 1.8em;
  font-weight: bold;
  color: var(--heading-text-color);
}

#tools {
  width: 100%;
}

#tools a {
  width: 100%;
  text-align: right;
  display: block;
  font-weight: bold;
}

/***** Navigation ********/
nav {
  width: 100%;
  padding: var(--large-padding);
  font-weight: bold;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  cursor: pointer;
}

nav ul li:hover {
  color: var(--link-active-color);
}

/****** Footer Styling *******/
footer {
  padding: var(--base-padding);
}



/****** Body Content *******/
main {
  width: 100%;
  min-height: 80vh;
  padding: var(--base-padding);
}

#home-main-container {
  display: grid;
}

/****** banner section ******/
#banner-section div {
  width: 100%;
  background: url('../images/site/checkerboard.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr;
}

#banner-section .banner-img-holder {
  grid-column: 1/2;
  grid-row: 1/2;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
}

#banner-section .banner-img-holder picture {
  grid-column: 1/2;
  grid-row: 1/2;
  width: 100%;
}

#banner-section .banner-img-holder picture img {
  width: 100%;
  height: auto;
}

#banner-section div section {
  grid-column: 1/2;
  grid-row: 1/2;
  border-radius: 5px;
  width: fit-content;
  height: fit-content;
  padding: var(--base-padding);
  margin: var(--base-margin);
  background-color: var(--dark-transparency);
  color: var(--accent-one);
  align-self: center;
  z-index: 1;
}

#banner-section div section h3 {
  color: var(--accent-two);
  margin: 0;
}

#banner-section div section p {
  margin: 0;
  margin-top: var(--base-margin);
}

#banner-section div section button {
  margin: 0;
  margin-top: var(--base-margin);
}

/***** review section *******/
#review-section ul {
  color: var(--body-text-color);
  padding: 0 1rem;
}

#review-section ul li {
  line-height: 2rem;
}

/****** upgrade section *******/
#upgrade-section>div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

#upgrade-section div .picture-card {
  width: 100%;
  height: 100%;
  background-color: var(--dark-transparency);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2rem;
  border-radius: 10px;
  box-shadow: 0 0 1px var(--light-transparency);
  overflow: hidden;
}

div .picture-card .image-holder {
  width: 100%;
  background-color: var(--light-transparency);
  display: grid;
  justify-content: center;
  align-content: center;
}

div .picture-card .image-holder img {
  width: 100%;
  height: auto;
}

div .picture-card a {
  text-align: center;
  padding: var(--base-padding);
  display: grid;
  align-content: center;
}

/**** animate images *****/
#banner-img {
  animation-name: rotate-y;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

#flux-cap-img {
  animation-name: rotate-y-360;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#flame-decals-img {
  animation-name: rotate-to-and-fro;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

#bumper-stickers-img {
  animation-name: move-left-right;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

#hub-cap-img {
  animation-name: rotate-x;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

/* ******************************************
***** Classification Grid View Styling ******
********************************************/
#inv-display {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
  /* background-color: blue; */
  list-style: none;
  gap: var(--base-margin);
  justify-content: center;
  /* padding: var(--base-padding); */
  margin: 0;
  padding: 0;
}

#inv-display li {
  background-color: var(--dark-transparency);
  padding: var(--base-padding);
  border-radius: var(--base-margin);
  display: grid;
  grid-template-rows: 230px 1fr;
}

#inv-display li a {
  width: 100%;
  height: 100%;
  background-color: var(--dark-transparency);
  overflow: hidden;
  align-content: center;
}

#inv-display li a img {
  width: 100%;
  height: auto;
}

.namePrice>h2 {
  text-align: center;
  margin: var(--base-margin);
}

.namePrice>span {
  width: 100%;
  padding: 0 var(--base-padding);
  font-weight: bold;
  font-size: 1.1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.namePrice>span>.price {
  text-align: left;
  color: var(--accent-three);
}

.car-color-text {
  text-align: right;
  text-transform: capitalize;
  justify-self: self-end;
  width: fit-content;
  background-color: var(--accent-one);
  border-style: solid;
  border-left: .5px;
  border-right: .5px;
  /* border: 1px solid var(--accent-one); */
  padding: .1em var(--base-padding);
  /* border-radius: 10px; */
}


/* *****************************************
***** An Inventory Detail Page Styling *****
*******************************************/
#inv-detail-container {
  width: 100%;
  background-color: var(--secondary-color-one);
  color: var(--primary-color-one);
  font-size: 1.2em;
}

/* Image Section */
#image-section {
  display: grid;
  width: 100%;
  align-content: center;
}

#image-section img {
  width: 100%;
  height: auto;
}

/* Content Section */
#content-section {
  width: 100%;
  height: 100%;
  padding: var(--base-padding);
  margin: 0;
  background-color: var(--dark-transparency);
  color: var(--accent-one);
}

#content-section h2 {
  color: var(--accent-one);
}

#content-section>span {
  display: block;
  margin-bottom: var(--base-margin);
}

#content-section>span b {
  color: var(--accent-two);
}


/* *****************************************
******* Form/Login/Sign-up Page Styling *********
*******************************************/
.form-title {
  margin-left: 10%;
}

.form-container {
  width: 80%;
  height: fit-content;
  background-color: var(--light-transparency);
  padding: var(--base-padding);
  border-radius: 5px;
  margin: 0 auto;
}

.forms {
  background-color: var(--dark-transparency);
  padding: var(--base-padding);
  border-radius: 5px;
}

.forms label {
  font-size: 1.2em;
}

.forms input, .forms textarea, .forms select {
  display: block;
  padding: var(--base-padding);
  width: 100%;
  margin-bottom: var(--large-margin);
  border: none;
  border-radius: 5px;
  outline: none;
}

.forms textarea {
  height: 5rem;
  padding: .5rem;
}

.forms select {
  text-transform: capitalize;
}

input:required:invalid, input:focus:invalid {
  border-right: 2px solid red;
}

input:required:valid {
  border-right: 2px solid greenyellow;
}

.submit-btn,
.forms .submit-btn {
  border-radius: 15px;
  border: none;
  width: fit-content;
  font-weight: bold;
  padding: var(--base-padding) var(--large-padding);
  margin: var(--base-margin) auto;
}

.block-span {
  display: block;
  width: 100%;
  text-align: center;
}

.password-and-show-btn {
  display: grid;
  grid-template-columns: .8fr .2fr;
}

.forms .form-note {
  display: none;
  color: var(--primary-color-two-lighter);
  font-size: 1em;
}

.forms .register-password {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#show-hide-pass-btn {
  display: block;
  width: 100%;
  height: fit-content;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: var(--dark-transparency);
  color: var(--accent-one);
  font-weight: bold;
  padding: var(--base-padding);
  text-align: center;
}


/* *****************************************
************ Error Page Styling ************
*******************************************/
#page-not-found-container {
  /* background-color: var(--dark-transparency); */
  width: 100%;
  display: block;
}

#page-not-found-container h1 {
  z-index: 1;
}

#humor-container {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  background-color: var(--secondary-color-one);
}

#error-message-holder {
  /* grid-column: 1/2;
  grid-row: 1/2; */
  width: fit-content;
  height: fit-content;
  padding: var(--base-padding);
  border-radius: var(--base-padding);
  background-color: var(--dark-transparency);
  color: var(--accent-one);
  margin: var(--base-margin);
  font-size: 1.2em;
  z-index: 1;
}

#error-humor-holder {
  /* grid-column: 1/2;
  grid-row: 1/2; */
  width: 100%;
  height: fit-content;
  display: grid;
  align-content: center;
  /* overflow: hidden; */
}

.error-humor {
  width: 100%;
  height: auto;
}


/* *****************************************
***** Vehicle Management Page Styling ******
*******************************************/
.inv-management-holder {
  background-color: var(--light-transparency);
  padding: var(--large-padding);
  font-size: 1.4em;
  border-radius: 5px;
}
.link-btn {
  background-color: var(--dark-transparency);
  /* color: var(--primary-color-two); */
  padding: var(--base-padding);
  margin: var(--base-margin);
  border-radius: 5px;
  display: block;
  text-align: center;
}


/* *****************************************
******** General Animation Styling *********
*******************************************/
@keyframes rotate-to-and-fro {
  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotate(10deg);
  }

  75% {
    transform: rotate(-10deg);
  }

  100% {
    transform: rotate(0);
  }
}

@keyframes rotate-x {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate-y {
  0% {
    transform: rotateY(0);
  }

  50% {
    transform: rotateY(40deg);
  }

  100% {
    transform: rotateY(0);
  }
}

@keyframes move-left-right {
  0% {
    transform: translate(-10px);
  }

  50% {
    transform: translate(10px);
  }

  100% {
    transform: translate(-10px);
  }
}

@keyframes rotate-y-360 {
  0% {
    transform: rotateY(0);
  }

  100% {
    transform: rotateY(360deg);
  }
}