<%# Display Error Message %>
<div id="page-not-found-container">
    <% if (title) { %>
        <h1><%= title %></h1>
    <% } else {
        res.redirect('/')
    } %>

    <div id="humor-container">
        <span id='error-message-holder'>
            <%- message %>
        </span>
        <span id="error-humor-holder">
            <%- errorHumor %>
        </span>
    </div>
</div>